<html xmlns:th="">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <style>
        #mapid {
            height: 180px;
        }

        body {
            background-color: #000;
        }
    </style>
</head>
<body>
<div class="container">
    <center>
        <table class="table table-bordered" cellspacing="10" cellpadding="1" th:border="0.2">
            <tr>
                <th style="color: #FFFF00" th:align="center">Potwierdzone zakażenia</th>
                <th style="color: #33CC00" th:align="center">Ozdrowieńców</th>
                <th style="color: #CC0033" th:align="center">Śmiertelne zakażenia</th>
                <th style="color: #33CCCC" th:align="center">W trakcie leczenia</th>
            </tr>
            <tr>
                <td style="color: #FFFF00" th:align="center">205</td>
                <td style="color: #33CC00" th:align="center">13</td>
                <td style="color: #CC0033" th:align="center">5</td>
                <td style="color: #33CCCC" th:align="center">187</td>
            </tr>
        </table>
    </center>
</div>
<div id="mapid" style="width: 100%; height: 95%; position: relative; outline: none;"></div>

<script th:inline="javascript">

    var data = [[${pointsList}]];
    console.log(data);

    var mymap = L.map('mapid').setView([52.025459, 20.34668], 6);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);


    data.forEach(value => {
        L.circle([value.x, value.y],
            32000, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
            }).addTo(mymap).bindPopup(value.text);
    });

</script>
</body>

</html>